
body {
  background-color: #f5f5f5;
  transition: all;
}


@keyframes upAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.upAndDown {
  animation: upAndDown 3s ease-in-out infinite;
}


a {
  text-decoration: none;
}

.h-100 {
  height: 90vh;
}

.bgRed {
  background-color: #db2416;
}
.colorRed {
  color: #db2416;
}
.bgRed-sec {
  background-color: #f24a3dab;
}
.bgE7 {background-color: #e7e7e7;}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}