node_modules/
.env
.DS_Store
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.vscode/
.idea/
*.swp

# Build files
dist/
build/

# Dependencies
package-lock.json
yarn.lock

# Optional
coverage/
.tmp/
